.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: $grey;
	border-top: 6px $orange solid;

	&__item {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 20%;
		height: 200px;
		text-decoration: none;
		text-align: center;
		position: relative;

		&__title {
			color: white;
			font-family: $title;
			font-size: 16px;
			font-weight: normal;
			margin: 0;
			opacity: 0;
			transition: opacity 0.25s ease-in-out;
			z-index: 2;
		}

		&__category {
			color: white;
			font-family: $title;
			font-size: 12px;
			font-weight: normal;
			text-transform: uppercase;
			opacity: 0;
			margin: 0;
			transition: opacity 0.25s ease-in-out;
			z-index: 2;

			&::before {
				content: '';
				height: 3px;
				width: 60%;
				background-color: $orange;
				display: block;
				margin: 6px auto;
			}
		}

		&__background {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			
			@include background;

			&::before {
				content: '';
				width: 100%;
				height: 100%;
				background: black;
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0.6;
				transition: opacity 0.25s ease-in-out;
			}

			&::after {
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				top: -6px;
				left: 0;
				border-bottom: 6px $orange solid;
				transform: scale(0,1);
				transition: transform 0.25s ease-in-out;
			}
		}

		&:hover {
			> .portfolio-list__item__background::before {
				opacity: 0.5;
			}
			> .portfolio-list__item__background::after {
				transform: scale(1,1);
			}

			> .portfolio-list__item__title, > .portfolio-list__item__category {
				opacity: 1;
			}
		}
	}
}