.featured-wrapper {
	height: 90%;
	background-color: grey;
}

.featured__slider { 
	width: 100%; 
	height: 90%;
	overflow-y: hidden;
}

.next, .prev {
	position: absolute;
	top: 45%;
	font-size: 0px;
	padding: 10px;
	background-color: rgba(black, 0.3);
	cursor: pointer;
	transition: background-color 0.25s ease-in-out;

	&:hover {background-color: rgba(black, 0.6);}

	svg {
		fill: white;
		width: 20px;
		height: 40px;
	}
}

.next {	right: 0; }
.prev {	left:  0; }

.featured__slide {
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 0;
	left: 0;

	font-size: 50px;
	color: white;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
	transition-delay: 0s;
	overflow: hidden;
		
	&.featured__slide--active {
		opacity: 1;
		visibility: visible;

		.featured__slide__title {
			transform: translateY(0);
			opacity: 1;
		}

		.featured__slide__link {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&__title {
		font-size: 36px;
		color: white;
		margin: 0;
		font-family: $title;
		text-transform: uppercase;
		transform: translateY(-20px);
		opacity: 0;
		transition: transform 0.35s 0.5s ease-in-out, opacity 0.35s 0.5s ease-in-out;
	}

	&__link {
		margin: 30px 0 0 0;
		font-family: $body;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 14px;
		padding: 1.3em 1.5em;
		background-color: transparent;
		border: 4px solid $orange;
		transition: background-color 0.25s ease-in-out, transform 0.35s 0.6s ease-in-out, opacity 0.35s 0.6s ease-in-out;
		transform: translateY(10px);
		opacity: 0;

		&:hover {background-color:rgba($orange, 0.4);}
	}

	&__background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		
		@include background;

		&::before {
			content: '';
			width: 100%;
			height: 100%;
			background: black;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0.6;
		}
	}
}