---
layout: default
---

<section class="section--home">
    
    {% include logo.svg %}
    <span class="home__title scene-element scene-element--fade-in-down">Designer by day</span>
    <span class="home__title scene-element scene-element--fade-in-down">Developer by night</span>

    <button class="home__button scene-element scene-element--fade-in-down">View Work</button>

    <div class="home__overlay scene-element scene-element--fade-in-overlay"></div>

</section>

<aside class="work__buttons">
    <button class="work__prev">PREV</button>
    <button class="work__next">NEXT</button>
</aside>

<section class="section--work">

    {% for post in site.posts %}
        
        <article class="work__post">
            <a href="{{ post.url }}" class="work__link scene-element scene-element--fade-in-down" style="background-image: url(/assets/tiles/{{ post.shortname }}_tile.jpg); animation-delay: {{ forloop.index | divided_by: 7.00 }}s;">

                <div class="work__caption">
                    <h2 class="work__title">{{ post.title }}</h2>
                    <span class="work__desc">{{ post.description }}</span>
                </div>

            </a>
        </article>

    {% endfor %}

</section>