---
layout: null
title: Portfolio
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    
    {% include svg-defs.html %}
    <svg class="cilp-svg" style="position:absolute;">
      <defs>
        <clipPath id="clip-polygon" clipPathUnits="objectBoundingBox">
          <polygon points="0 1, 0.3 0, 1 0, 0.7 1"></polygon>
        </clipPath>
      </defs>
    </svg>

    <div class="content-wrapper" id="main">
      
      {% include nav.html %}
      
      <ul class="post-list">
        {% for post in site.posts %}

            <li class="post__list-item scene-element scene-element--fade-in-down">

              <a class="post__list-item__link" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url(/assets/img/portfolio/{{ post.shortname }}.png)">

                <h2 class="post__list-item__title">{{ post.title }}</h2>

              </a>
            </li>

        {% endfor %}
      </ul>
      
    </div>
    
    {% include scripts.html %}
  </body>

</html>