---
layout: null
title: Portfolio
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
	
	{% include svg-defs.html %}

	<div class="content-wrapper" id="main">
	  
	  {% include nav.html %}
	  
	  
		<div class="featured__slider scene-element scene-element--fade-in">
		  {% for post in site.posts limit:4 %}

		  <div class="featured__slide">
			<h2 class="featured__slide__title">{{ post.title }}</h2>
			<a href="{{ post.url | prepend: site.baseurl }}" class="featured__slide__link">See More</a>
			<div class="featured__slide__background" style="background-image: url(/assets/img/portfolio/{{ post.shortname }}.png)"></div>
		  </div>

		  {% endfor %}
		</div>

		<div class="post-list">
		{% for post in site.posts %}

				<a class="post-list__item scene-element scene-element--fade-in" href="{{ post.url | prepend: site.baseurl }}" style="background-image: url(/assets/img/portfolio/{{ post.shortname }}.png)">

					<h2 class="post__list-item__title">{{ post.title }}</h2>

				</a>

		{% endfor %}
		</div>

		<div class="next"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron18"></use></svg></div>
		<div class="prev"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron20"></use></svg></div>
	  
	</div>
	
	{% include scripts.html %}
  </body>

</html>