<footer class="site-footer">
		
	{% if page.layout == 'post' %} <!-- Footer content for posts -->

		<section class="footer--post__inner">

			<a href="/work" class="footer--post__back">
				<span class="footer--post__back-to">Back To</span>
				<h2 class="footer--post__back-title">Work</h2>
			</a>

			{%if page.previous %}

				<a href="{{ page.previous.url }}" class="footer--post__next">
					<span class="footer--post__next-more">More Work</span>
					<h2 class="footer--post__next-title">{{ page.previous.title }}</h2>
					<span class="footer--post__next-study">View Case Study</span>
				</a>

			{% else %} <!-- If last post, show data for most recent post -->

				{% for post in site.posts limit:1 %}
					<a href="{{ post.url }}" class="footer--post__next">
						<span class="footer--post__next-more">More Work</span>
						<h2 class="footer--post__next-title">{{ post.title }}</h2>
						<span class="footer--post__next-study">View Case Study</span>
					</a>
				{% endfor %}
				
			{% endif %}

		</section>

	{% endif %}

	<section class="footer__content-wrapper">
		
		<div class="footer__inner">
			<p class="footer__desc">{{ site.description }}</p>

			<div class="footer__info">
				<h6>Contact Me</h6>
				<a href="mailto:jasonetco@gmail.com">jasonetco@gmail.com</a>
				<a href="tel:6479361934">647.936.1934</a>
			</div>
		</div>

	</section>

</footer>