<header class="site-header is-visible top-nav" data-nav-status="toggle">
    <a href="/index.html" class="site-header__logo-link scene-element scene-element--fade-in"><svg class="site-header__logo"><use xlink:href="#logo" /></svg></a>
    <nav class="nav">
        <a class="nav__link" href="/index.html#about" data-anchor="#about">About</a>
        <a class="nav__link" href="/portfolio.html">Portfolio</a>
        <a class="nav__link" href="/index.html#contact" data-anchor="#contact">Contact</a>
        <a class="nav__link" href="/resume.html">Resum&#201;</a>
    </nav>
</header>

<button class="site-header__button"><span></span></button>
<div class="site-header__overlay"></div>