<header class="site-header is-visible top-nav" data-nav-status="toggle">
    <a href="/index.html"><svg class="site-header__logo scene-element scene-element--fade-in"><use xlink:href="#logo" /></svg></a>
    <nav class="nav">
        <a class="nav__link" href="/index.html#about" data-anchor="#about">About</a>
        <a class="nav__link" href="/portfolio.html">Portfolio</a>
        <a class="nav__link" href="/index.html#contact" data-anchor="#contact">Contact</a>
        <a class="nav__link" href="/resume.html">Resumé</a>
    </nav>
</header>