.post-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	&__item {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;

		display: block;
		width: 20%;
		height: 200px;
		text-decoration: none;
		color: black;
		text-align: center;
		animation-delay: 1s;
	}
}