.site-footer {
	width: 100%;
	margin-top: 60px;
}

.footer {

	&--post {

		&__inner {
			max-width: $post-width;
			width: 100%;
			margin: 0 auto;
			padding: 30px 0 60px 0;
			box-sizing: border-box;
			position: relative;

			&::before {
				content: '';
				background-color: $orange;
				width: 100px;
				height: 1px;
				position: absolute;
				top: 0;
				left: 0;

				@include media-query($post-width) {
					left: 12px;
				}
			}

			@include media-query($post-width) {
				padding: 30px 12px 60px 12px;
			}

			& + .footer__content-wrapper {
				margin-top: 0;
			}
		}

		&__next {
			color: white;
			text-decoration: none;
			transition: transform 0.5s ease-in-out;
			display: inline-flex;
			flex-direction: column;

			&:hover {
				transform: translate3d(20px, 0, 0);
			}
		}

		&__next-title {
			margin: 0;
			font-size: 38px;
		}

		&__next-more {
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 1px;
		}

		&__next-study {
			text-transform: uppercase;
			font-size: 11px;
			letter-spacing: 1px;
			color: $orange;
		}
	}

	&__content-wrapper {
		width: 100%;
		padding: 60px 0;
		margin-top: 60px;
		background-color: $grey;
		color: $darkgrey;
	}

	&__inner {
		width: 100%;
		max-width: $post-width;
		margin: 0 auto;

		display: flex;
		box-sizing: border-box;
		align-items: flex-start;


		@include media-query($post-width) {
			padding: 0 12px;
		}

		@include media-query($on-mobile) {
			flex-direction: column;
		}
	}

	&__desc {
		width: 50%;
		font-family: $title-stack;
		font-size: 26px;
		margin: 0;

		@include media-query($on-mobile) {
			width: 100%;
		}
	}

	&__info {
		position: relative;
		margin-left: 20px;
		padding-left: 20px;
		display: flex;
		flex-direction: column;

		&::before {
			content: '';
			background-color: $orange;
			height: 100%;
			width: 1px;
			position: absolute;
			top: 0;
			left: 0;
		}

		@include media-query($on-mobile) {
			margin: 32px 0 0 0;
			padding: 32px 0 0 0;

			&::before {
				width: 200px;
				height: 1px;
			}
		}

		h6 {
			font-size: 20px;
			letter-spacing: normal;
			margin: 0;
			font-family: $title-stack;
			color: $darkgrey;
		}

		a {
			color: $darkgrey;
			font-size: 11px;
			text-decoration: none;
		}
	}
}