.site-header {
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transform: translate3d(0, 0, 0);
    transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, visibility 0.25s 0s ease-in-out, background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, height 0.25s ease-in-out;
    
    &.is-hidden {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
        visibility: hidden;
    }
    
    &.is-visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
        visibility: visible;
        background-color: $grey;
        box-shadow: 0px 2px 14px rgba(0,0,0,0.5);
    }
    
    &.top-nav {
        background-color: transparent;
        transition-delay: 0s;
        box-shadow: none;
        height: 100px;
    }
    
    &__logo {
        height: 55px;
        width: 120px;
    }
}
.nav {
    display: flex;
    align-items: center;
    margin-right: 40px;
    
    &__link {
        font-family: $title;
        font-size: 16px;
        color: white;
        margin: 0 20px;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 0.5em;
        position: relative;
        
        &::before, &::after {
            content: '';
            width: 100%;
            height: 2px;
            background-color: white;
            position: absolute;
            left: 0;
            transform: scale(0,1);
            transition: transform 0.25s ease-in-out;
            pointer-events: none;
        }
        
        &::before {
            top: -10px;
        }
        
        &::after {
            bottom: -10px;
        }
        
        &:hover::before, &:hover::after {
            transform: scale(1,1);
        }
    }
}