.post__content-wrapper {
	padding-top: 30px;
	width: 100%;
	background-color: $lightgrey;
	padding-bottom: 30px;

	&__inner {
		width: 100%;

		> p {
			width: 100%;
			padding: 60px;
			box-sizing: border-box;
			text-align: center;
			font-family: $body;
			clear: both;

			br {
				content: '';
				display: block;
				margin: 10px 0;
			}
		}

		img {
			max-width: 100%;
			margin: 10px auto;
			display: block;
		}

		hr {
			width: 300px;
			height: 3px;
			float: left;
			margin: 10px 0;
			border: none;
			clear: both;
		}

		> blockquote {
			margin: 0 auto;
			width: 60%;
			

			@include media-query-ext($on-laptop, $on-tablet) {
				width: 80%;
			}

			@include media-query-ext($on-tablet, $on-mobile) {
				width: 85%;
			}

			@include media-query($on-mobile) {
				width: 90%;
			}

			> blockquote {
				width: 35%;
				margin: 0;
				float: left;

				@include media-query-ext($on-tablet, $on-mobile) {
					width: 45%;
				}

				@include media-query($on-mobile) {
					width: calc(50% - 1em);
				}

				&:nth-child(1) {margin-right: 1em;}

				h2 {
					font-family: $body;
					padding: 0.6em;
					font-size: 14px;
					color: white;
					margin: 0;
					display: inline-block;
					text-transform: uppercase;
					font-weight: normal;
				}

				p {
					font-family: $body;
					color: $grey;
					font-size: 14px;
				}
			}

			> p {
				width: 400px;
				text-align: center;
				margin: 0 auto;

				> img {
					max-width: none;
				}
			}
		}

		video {
			width: 100%;
			max-width: $on-tablet;
			margin: 0 auto;
			display: block;
			clear: both;
		}

		a {
			color: $orange;
			font-weight: bold;
		}
	}
}