.post__content-wrapper {
	padding-top: 30px;
	width: 100%;
	background-color: $lightgrey;
	padding-bottom: 30px;

	&__inner {
		max-width: 1280px;
		margin: 0 auto;

		> p {
			width: 100%;
			padding: 60px;
			box-sizing: border-box;
			text-align: center;
			font-family: $body;

			br {
				content: '';
				display: block;
				margin: 10px 0;
			}

			img {
				max-width: 100%;
				margin: 10px 0;
			}
		}

		hr {
			width: 300px;
			height: 3px;
			float: left;
			margin: 10px 0;
			border: none;
		}

		> blockquote {
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			margin: 0;
			width: 100%;

			> blockquote {
				width: 30%;
				margin: 0;

				&:nth-child(1) {margin-right: 1em;}
			}

			h2 {
				font-family: $body;
				padding: 0.6em;
				font-size: 14px;
				color: white;
				margin: 0;
				display: inline-block;
				text-transform: uppercase;
				font-weight: normal;
			}

			p {
				font-family: $body;
				color: $grey;
				font-size: 14px;
			}
		}

		video {
			width: 100%;
		}

		.img-w-descrip {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin: 1em 0 0 0;
			width: 100%;
			&:nth-child(1) {margin: 0;}
			&:nth-child(2n) {justify-content: flex-start}

			p {
				font-family: $body;
				color: $grey;
				font-size: 14px;
				text-align: right;
				max-width: 320px;
				margin: 0 1em 0 0;
			}

			&:nth-child(2n) img {
				order: -1;
			}

			&:nth-child(2n) p {
				text-align: left;
				margin: 0 0 0 1em;
			}
		}
	}
}