<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>
		{% include svg-defs.html %}

	    <div class="content-wrapper" id="main">
		    <style>
		    	.post__content-wrapper h2 { background-color: #{{ page.maincolor }}; }
		    	.post__content-wrapper hr { background-color: #{% if page.maincolortwo %}{{ page.maincolortwo }}{% else %}{{ page.maincolor }}{% endif %}; }
		    </style>
	      
	    	{% include nav.html %}

	    	<div class="post__intro scene-element scene-element--fade-in" style="background-image: url(/assets/img/portfolio/{{ page.shortname }}/{{ page.shortname }}_large.jpg)">

	    		<div class="post__intro__inner">
		    		<h1 class="post__intro__title scene-element scene-element--fade-in-left">{{ page.title }}</h1><br>
		    		<span class="post__intro__category scene-element scene-element--fade-in-left">{{ page.category }}</span>
	    		</div>

	    		<div class="post__intro__controls">

	    			{% if page.next %} 
	    				<a href="{{ page.next.url }}" class="post__intro__next"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron18"></use></svg></a>
	    			{% endif %}

		    		{% if page.previous %} 
			        	<a href="{{ page.previous.url }}" class="post__intro__prev"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron20"></use></svg></a>
			        {% endif %}

		        </div>
	    	</div>
	      
	    	<div class="post__content-wrapper scene-element scene-element--fade-in">
				<div class="post__content-wrapper__inner">{{ content }}</div>
	    	</div>
			
			<!-- <ul class="tag-list">
		    	{% for tag in page.tags %}
		    		<li>{{ tag }}</li>
		    	{% endfor %}
	    	</ul> -->

	    	<div class="portfolio-list scene-element scene-element--fade-in">
	    		{% for post in site.posts %}
	    		
	    		<a class="portfolio-list__item" href="{{ post.url | prepend: site.baseurl }}">

	    			<h2 class="portfolio-list__item__title">{{ post.title }}</h2>
	    			<h4 class="portfolio-list__item__category">{{ post.category }}</h4>
	    			<div class="portfolio-list__item__background" style="background-image: url(/assets/img/portfolio/{{ post.shortname }}/{{ post.shortname }}.png)"></div>

	    		</a>

	    		{% endfor %}
	    	</div>
	      
		</div>
	    
		{% include scripts.html %}
	</body>

</html>